<div class="flex gap-2 ">
    <div class="cursor-pointer" (click)="selectAlign(LegendAlignOptions.alignLeft)">
        <img src="./assets/img/align-left.svg" class="w-4 h-4 " type="image/svg+xml" />
    </div>
    <div class="cursor-pointer" (click)="selectAlign(LegendAlignOptions.alignCentre)">
        <img src="./assets/img/align-center.svg" class="w-4 h-4" type="image/svg+xml" />
    </div>
    <div class="cursor-pointer w-4 h-4" (click)="selectAlign(LegendAlignOptions.alignRight)">
        <img src="./assets/img/align-right.svg" class="w-4 h-4" type="image/svg+xml" />
    </div>
</div>