<div class="flex gap-2">
  <div
    class="cursor-pointer"
    (click)="selectAlign(LegendAlignOptions.alignLeft)"
  >
    <img
      src="./assets/img/align-left.svg"
      class="h-4 w-4"
      type="image/svg+xml"
    />
  </div>
  <div
    class="cursor-pointer"
    (click)="selectAlign(LegendAlignOptions.alignCentre)"
  >
    <img
      src="./assets/img/align-center.svg"
      class="h-4 w-4"
      type="image/svg+xml"
    />
  </div>
  <div
    class="h-4 w-4 cursor-pointer"
    (click)="selectAlign(LegendAlignOptions.alignRight)"
  >
    <img
      src="./assets/img/align-right.svg"
      class="h-4 w-4"
      type="image/svg+xml"
    />
  </div>
</div>
