<div class="mx-auto max-w-7xl grow flex-col px-8">
  <div class="container grow flex-row flex-wrap">
    <app-relegendable
      class="print:float-left print:flex"
      *ngFor="let rel of relegendables"
      [relegendable]="rel"
      (delete)="delete(rel)"
      (clone)="clone(rel)">
    </app-relegendable>

    <span
      class="m-12 inline-block h-32 w-32 cursor-pointer select-none items-center border border-cutty-sark-300 bg-cutty-sark-200 align-top shadow print:hidden"
      (click)="addNew()">
      <img src="./assets/img/plus.svg" class="m-12 h-8 w-8" />
    </span>
  </div>
</div>
