<div class="bg-slate-300 mx-auto max-w-7xl grow flex-col px-8">
  <div class="container grow flex-row flex-wrap">
    <app-relegendable
      class="print:float-left print:flex"
      *ngFor="let rel of relegendables"
      [relegendable]="rel"
    ></app-relegendable>

    <span
      class="bg-red-200 m-2 inline-block h-32 w-32 cursor-pointer select-none items-center rounded-md align-top print:hidden"
      (click)="addNew()"
    >
      <img src="./assets/img/plus.svg" class="m-12 h-8 w-8" />
    </span>
  </div>
</div>
