<div class="mt-1 flex flex-row items-center">
  <input
    type="range"
    class="bg-gray-100 [&::-webkit-slider-thumb]:bg-purple-500 h-3 w-full appearance-none rounded-full focus:outline-none focus:ring-2 focus:ring-aquamarine-500 [&::-webkit-slider-thumb]:h-3.5 [&::-webkit-slider-thumb]:w-3.5 [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-aquamarine-500"
    [(ngModel)]="selectedFontSize"
    (input)="onFontSizeChange(selectedFontSize)"
    id="legendFontSize"
    [min]="min"
    [max]="max"
    step="0.5" />
  <div class="ml-1 w-10">{{ fontSize }}</div>
</div>
