<header
  class="flex-grow-0 bg-cutty-sark-800 text-cutty-sark-50 p-4 text-3xl font-thin select-none flex gap-8 items-center print:hidden justify-between"
>
  <div>Relegendify</div>

  <nav class="flex text-sm gap-4 items-end">
    <a
      class="bg-gradient-to-br from-aquamarine-400 to-aquamarine-600 hover:from-aquamarine-500 hover:to-aquamarine-700 text-cutty-sark-50 p-2 rounded-md"
      href="/"
      target="_blank"
      >Open an issue 🔗
    </a>
    <a
      class="bg-violet-200 text-cutty-sark-50 p-2 rounded-md hover:bg-violet-300"
      href="/"
      target="_blank"
      >Contribute 🔗</a
    >
  </nav>
</header>

<app-relegendable-list class="mb-4 flex flex-grow"></app-relegendable-list>

<footer
  class="text-center bg-cutty-sark-800 text-cutty-sark-50 h-8 text-sm pt-2 print:hidden"
>
  Made with 💖 by mike
</footer>
