<header
  class="flex-grow-0 bg-violet-800 text-slate-50 p-4 text-lg font-semibold select-none flex gap-8 items-center print:hidden justify-between">
  <div>Relegendables Maker</div>

  <nav class="flex text-sm gap-4 items-end">
    <a class="bg-violet-200 text-slate-800 p-2 rounded-md hover:bg-violet-300" href="/" target="_blank">Open an issue 🔗
    </a>
    <a class="bg-violet-200 text-slate-800 p-2 rounded-md hover:bg-violet-300" href="/" target="_blank">Contribute
      🔗</a>
  </nav>
</header>

<app-relegendable-list class="flex flex-grow mb-4"></app-relegendable-list>

<footer class="text-center mb-2 text-slate-600 text-sm">
  Made with 💖 by mike
</footer>