<div
  class="m-2 inline-block rounded-md border border-cutty-sark-300 bg-cutty-sark-200 shadow print:border-none print:bg-white print:shadow-none"
  *ngIf="relegendable !== undefined">
  <!-- preview -->
  <div
    class="flex h-32 w-full flex-col items-center justify-center print:items-end print:justify-end">
    <div
      class="outline-black m-2 inline-block h-cherry w-cherry scale-[2] select-none bg-white p-1 align-top shadow-none outline outline-1 print:w-cherry print:scale-100"
      [ngClass]="fontSizeName()">
      <div class="h-full w-full" [ngClass]="relegendableClass().parent">
        <div
          class="inline-block whitespace-pre-line"
          [ngClass]="relegendableClass().child">
          {{ relegendable.legend }}
        </div>
      </div>
    </div>
  </div>

  <!-- controls -->
  <div
    class="m-1 inline-block h-32 w-48 select-none flex-col rounded-md border border-cutty-sark-400 p-1 align-top text-sm print:hidden">
    <div>
      <textarea
        class="w-full flex-initial resize-none p-0.5"
        type="text"
        cols="10"
        rows="2"
        wrap="hard"
        [(ngModel)]="relegendable.legend"></textarea>
    </div>

    <div class="flex flex-row items-center justify-between px-3">
      <app-position-picker
        [position]="relegendable.legendPosition"
        (positionSelected)="onPositionSelected($event)">
      </app-position-picker>

      <app-align-picker [(align)]="relegendable.legendAlign">
      </app-align-picker>
    </div>

    <app-font-size-picker
      [(fontSize)]="relegendable.legendFontSize"></app-font-size-picker>
  </div>
</div>
